

.holder {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-self: end;
    margin-top: auto
}

.holder > * {
    width: 9rem;
    height: 3rem;;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.holder > *:hover {
    background-color: #454545;
    color: white;
    cursor: pointer;
}