.board {
    display: grid;
    width: 35rem;
    height: auto;
    background-color: #8ba66e;
    grid-template-columns: repeat(15, 1fr);
    gap: 5px;
    border-radius: 2px;
    padding: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #417003;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.cell.empty {
    background: lightgray;
}


.flag {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Minesweeper_flag.svg/1024px-Minesweeper_flag.svg.png');
    background-size: cover;
}

.one {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Minesweeper_1.svg/1200px-Minesweeper_1.svg.png');
    background-size: cover;

}


.two {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Minesweeper_2.svg/1200px-Minesweeper_2.svg.png ");
    background-size: cover;
}

.three {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Minesweeper_3.svg/480px-Minesweeper_3.svg.png");
    background-size: cover;
}

.four {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Minesweeper_4.svg/1200px-Minesweeper_4.svg.png");
    background-size: cover;
}

.five {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Minesweeper_5.svg/2048px-Minesweeper_5.svg.png");
    background-size: cover;
}

.six {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Minesweeper_6.svg/640px-Minesweeper_6.svg.png");
    background-size: cover;
}

.seven {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Minesweeper_7.svg/2048px-Minesweeper_7.svg.png");
    background-size: cover;
}

.eight {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Minesweeper_8.svg/1200px-Minesweeper_8.svg.png");
    background-size: cover;
}

.bomb {
    background-image: url("https://cdn-icons-png.flaticon.com/256/838/838377.png");
    background-size: cover;

}

.game-over {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightcoral;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .game-over {
        display: flex;
        transform: scale(2);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
}

.replay {
    margin-top: 1rem;
    background-color: #417003;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.replay:hover {
    transition-duration: 500ms;
    background-color: #8ba66e;
}

.exitGame {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    color: white;
    border-radius: 5px;
}

.exitGame:hover {
    background-color: #dca3a3;
    transition-duration: 500ms;
}

.endGameOptions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

