.board {
    display: grid;
    width: 35rem;
    height: auto;
    background-color: #8ba66e;
    grid-template-columns: repeat(15, 1fr);
    gap: 5px;
    border-radius: 2px;
    padding: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #417003;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.cell.empty {
    background: lightgray;
}


.flag {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Minesweeper_flag.svg/1024px-Minesweeper_flag.svg.png');
    background-size: cover;
}

.one {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Minesweeper_1.svg/1200px-Minesweeper_1.svg.png');
    background-size: cover;

}


.two {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Minesweeper_2.svg/1200px-Minesweeper_2.svg.png ");
    background-size: cover;
}

.three {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Minesweeper_3.svg/480px-Minesweeper_3.svg.png");
    background-size: cover;
}

.four {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Minesweeper_4.svg/1200px-Minesweeper_4.svg.png");
    background-size: cover;
}

.five {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Minesweeper_5.svg/2048px-Minesweeper_5.svg.png");
    background-size: cover;
}

.six {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Minesweeper_6.svg/640px-Minesweeper_6.svg.png");
    background-size: cover;
}

.seven {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Minesweeper_7.svg/2048px-Minesweeper_7.svg.png");
    background-size: cover;
}

.eight {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Minesweeper_8.svg/1200px-Minesweeper_8.svg.png");
    background-size: cover;
}

